<!DOCTYPE html>
<html>
 <head>
 <title>Student Db</title>
 </head>
 
 <body>
 <h1>Student DB</h1>
 <form method="post" action="/addStudent">
 <input type="text" name="Name" placeholder="Enter Name..." required><br>
 <input type="text" name="Roll_no" placeholder="Enter Roll number" required><br>
 <input type="number" name="WAD_marks" placeholder="Enter WAD marks" required><br>
 <input type="number" name="CC_marks" placeholder="Enter CC marks" required><br>
 <input type="number" name="DSBDA_marks" placeholder="Enter DSBDA marks" required><br>
 <input type="number" name="CNS_marks" placeholder="Enter CNS marks" required><br>
 <input type="number" name="AI_marks" placeholder="Enter AI marks" required><br>

 <input type="submit" value="Add Student">
 </form>
 </body>
</html>